torch
torchvision
git+https://github.com/huggingface/transformers
accelerate
peft
deepspeed==0.14.4
tiktoken
matplotlib
bitsandbytes
av
sentencepiece
wandb
protobuf

# for qwen
transformers_stream_generator

# for webui
gradio
