torch
torchvision
transformers==4.49.0
accelerate
peft
deepspeed==0.15.1
tiktoken
matplotlib
bitsandbytes
av
sentencepiece
wandb
protobuf

# for qwen
transformers_stream_generator

# for webui
gradio
